<!-- IF S_SHOW_POLL_BOX -->
<!-- IF WOLFSBLVT_POLL_END or WOLFSBLVT_POLL_SCORING -->
<!-- IF not $INCLUDED_JXTOOLSJS -->
    <!-- INCLUDEJS lib/jxtools.js -->
	<!-- DEFINE $INCLUDED_JXTOOLSJS = true -->
<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF WOLFSBLVT_POLL_END -->
	<!-- INCLUDEJS js/poll_length_posting.js -->
	<div id="ap_poll_length_container" style="display:none;" jxdom-target="label > #poll_length" jxdom-closest="dl" jxdom-action="replace">
<!-- Replace the dl ancestor of a #poll_length element directly under a label with the contents of this element -->
<dl>
	<dt><label for="wolfsblvt_poll_duration">{L_AP_RUN_POLL}{L_COLON}</label></dt>
	<dd>
		<select name="wolfsblvt_poll_duration" id="wolfsblvt_poll_duration" onchange="apChangeDuration(this.value);">
			<option value="" selected="selected">{L_AP_RUN_POLL_INDEFINITELY}</option>
			<option value="wolfsblvt_poll_length">{L_AP_RUN_POLL_FOR}</option>
			<option value="wolfsblvt_poll_end">{L_AP_RUN_POLL_UNTIL}</option>
		</select>
		<span id="wolfsblvt_poll_length" style="display: none; margin: 0px 10px;">
			<input style="width: 4em !important;" id="poll_length" name="poll_length" size="3" maxlength="3" min="0" max="999" value="{POLL_LENGTH}" class="inputbox autowidth" type="number" onchange="apAdjustLength(this.value);">
			<select name="wolfsblvt_poll_length_scale" onchange="apAdjustLengthScale(this.value);">
				<option value="1">{L_HOURS}</option>
				<option value="24" selected="selected">{L_DAYS}</option>
			</select>
			&nbsp;
			<strong id="wolfsblvt_poll_end_label"></strong>
		</span>
		<span id="wolfsblvt_poll_end" style="display: none; margin: 0px 10px;">
			<input style="width: 5em !important;" size="4" maxlength="4" id="wolfsblvt_poll_end_year" name="wolfsblvt_poll_end_year" value="{WOLFSBLVT_POLL_END_YEAR}" type="number" onchange="apAdjustEnd('year',this.value);">
			<input style="width: 3em !important;" size="2" maxlength="2" min="1" max="12" id="wolfsblvt_poll_end_mon" name="wolfsblvt_poll_end_mon" value="{WOLFSBLVT_POLL_END_MON}" type="number" onchange="apAdjustEnd('mon',this.value);">
			<input style="width: 3em !important;" size="2" maxlength="2" min="1" max="31" id="wolfsblvt_poll_end_mday" name="wolfsblvt_poll_end_mday" value="{WOLFSBLVT_POLL_END_MDAY}" type="number" onchange="apAdjustEnd('mday',this.value);">
			&nbsp;
			<input style="width: 3em !important;" size="2" maxlength="2" min="0" max="23" id="wolfsblvt_poll_end_hours" name="wolfsblvt_poll_end_hours" value="{WOLFSBLVT_POLL_END_HOURS}" type="number" onchange="apAdjustEnd('hours',this.value);">
			<input style="width: 3em !important;" size="2" maxlength="2" min="0" max="59" id="wolfsblvt_poll_end_minutes" name="wolfsblvt_poll_end_minutes" value="{WOLFSBLVT_POLL_END_MINUTES}" type="number" onchange="apAdjustEnd('minutes',this.value);">
			&nbsp;
			{L_AP_YYYY_MM_DD} {L_AP_HH_MM}
		</span>
	</dd>
</dl>
<hr class="dashed" />
	</div>
<!-- ENDIF -->

<!-- IF WOLFSBLVT_POLL_SCORING -->
<!-- INCLUDEJS js/poll_type_posting.js -->
<span style="display:none;" jxdom-target="#poll_max_options" jxdom-closest="dl" jxdom-action="remove">
<!-- Remove the #poll_max_options dl ancestor, to be replaced by the following dl block (in a different position in the DOM, closer to other similar options) -->
</span>
<dl>
	<dt><label for="wolfsblvt_poll_type">{L_AP_POLL_TYPE}{L_COLON}</label></dt>
	<dd>
		<select id="wolfsblvt_poll_type" name="wolfsblvt_poll_type">{AP_POLL_TYPE_OPTIONS}</select>
		<span>{L_AP_POLL_TYPE_EXPLAIN}</span>
	</dd>
</dl>
<dl>
	<dt><label for="poll_max_options">{L_POLL_MAX_OPTIONS}{L_COLON}</label></dt>
	<dd><input type="number" min="1" max="999" style="width: 5em !important;" name="poll_max_options" id="wolfsblvt_poll_max_options" size="3" maxlength="3" value="{POLL_MAX_OPTIONS}" class="inputbox autowidth" />{L_POLL_MAX_OPTIONS_EXPLAIN}</dd>
</dl>
<div id="ap-scoring-settings">
<dl>
	<dt><label for="wolfsblvt_poll_min_value">{L_AP_POLL_MIN_VALUE}{L_COLON}</label></dt>
	<dd><input type="number" min="1" max="999" style="width: 5em !important;" name="wolfsblvt_poll_min_value" id="wolfsblvt_poll_min_value" size="3" maxlength="3" value="{WOLFSBLVT_POLL_MIN_VALUE}" class="inputbox autowidth" />{L_AP_POLL_MIN_VALUE_EXPLAIN}</dd>
</dl>
<dl>
	<dt><label for="wolfsblvt_poll_max_value">{L_AP_POLL_MAX_VALUE}{L_COLON}</label></dt>
	<dd><input type="number" min="1" max="999" style="width: 5em !important;" name="wolfsblvt_poll_max_value" id="wolfsblvt_poll_max_value" size="3" maxlength="3" value="{WOLFSBLVT_POLL_MAX_VALUE}" class="inputbox autowidth" />{L_AP_POLL_MAX_VALUE_EXPLAIN}</dd>
</dl>
<dl>
	<dt><label for="wolfsblvt_poll_total_value">{L_AP_POLL_TOTAL_VALUE}{L_COLON}</label></dt>
	<dd><input type="number" min="1" max="999" style="width: 5em !important;" name="wolfsblvt_poll_total_value" id="wolfsblvt_poll_total_value" size="3" maxlength="3" value="{WOLFSBLVT_POLL_TOTAL_VALUE}" class="inputbox autowidth" />{L_AP_POLL_TOTAL_VALUE_EXPLAIN}</dd>
</dl>
</div>
<dl id="ap-ranking-settings">
	<dt><label>{L_AP_RANK_POINTS}{L_COLON}</label></dt>
	<dd>
		<span>{L_AP_RANK_POINTS_EXPLAIN}</span>
		<div id="ap-rank-point-inputs" data-position-label="{L_AP_RANK_POSITION}">{AP_RANK_POINT_INPUTS}</div>
	</dd>
</dl>
<hr class="dashed" />
<!-- ENDIF -->

<!-- IF not WOLFSBLVT_POLL_END and not WOLFSBLVT_POLL_SCORING -->
	<hr class="dashed" />
<!-- ENDIF -->

<dl>
	<dt><label for="wolfsblvt_poll_visibility">{L_AP_POLL_VISIBILITY}{L_COLON}</label></dt>
	<dd>
		<select id="wolfsblvt_poll_visibility" name="wolfsblvt_poll_visibility">{AP_POLL_VISIBILITY_OPTIONS}</select>
		<span>{L_AP_POLL_VISIBILITY_EXPLAIN}</span>
	</dd>
</dl>
<dl>
	<dt><label for="wolfsblvt_poll_vote_mode">{L_AP_POLL_VOTE_MODE}{L_COLON}</label></dt>
	<dd>
		<select id="wolfsblvt_poll_vote_mode" name="wolfsblvt_poll_vote_mode">{AP_POLL_VOTE_MODE_OPTIONS}</select>
		<span>{L_AP_POLL_VOTE_MODE_EXPLAIN}</span>
	</dd>
</dl>
<!-- IF WOLFSBLVT_POLL_VOTERS_LIMIT -->
<dl>
	<dt><label for="wolfsblvt_poll_voters_limit">{L_AP_POLL_VOTERS_LIMIT}{L_COLON}</label></dt>
	<dd><label for="wolfsblvt_poll_voters_limit"><input type="checkbox" id="wolfsblvt_poll_voters_limit" name="wolfsblvt_poll_voters_limit"{WOLFSBLVT_POLL_VOTERS_LIMIT_CHECKED} /> {L_AP_POLL_VOTERS_LIMIT_EXPLAIN}</label></dd>
</dl>
<!-- ENDIF -->
<!-- IF WOLFSBLVT_POLL_VOTERS_SHOW -->
<dl>
	<dt><label for="wolfsblvt_poll_voters_show">{L_AP_POLL_VOTERS_SHOW}{L_COLON}</label></dt>
	<dd><label for="wolfsblvt_poll_voters_show"><input type="checkbox" id="wolfsblvt_poll_voters_show" name="wolfsblvt_poll_voters_show"{WOLFSBLVT_POLL_VOTERS_SHOW_CHECKED} /> {L_AP_POLL_VOTERS_SHOW_EXPLAIN}</label></dd>
</dl>
<!-- ENDIF -->
<!-- IF WOLFSBLVT_POLL_SHOW_ORDERED -->
<dl>
	<dt><label for="wolfsblvt_poll_show_ordered">{L_AP_POLL_SHOW_ORDERED}{L_COLON}</label></dt>
	<dd><label for="wolfsblvt_poll_show_ordered"><input type="checkbox" id="wolfsblvt_poll_show_ordered" name="wolfsblvt_poll_show_ordered"{WOLFSBLVT_POLL_SHOW_ORDERED_CHECKED} /> {L_AP_POLL_SHOW_ORDERED_EXPLAIN}</label></dd>
</dl>
<!-- ENDIF -->
<!-- IF WOLFSBLVT_POLL_COLLAPSIBLE -->
<dl>
	<dt><label for="wolfsblvt_poll_collapsible">{L_AP_POLL_COLLAPSIBLE}{L_COLON}</label></dt>
	<dd><label for="wolfsblvt_poll_collapsible"><input type="checkbox" id="wolfsblvt_poll_collapsible" name="wolfsblvt_poll_collapsible"{WOLFSBLVT_POLL_COLLAPSIBLE_CHECKED} /> {L_AP_POLL_COLLAPSIBLE_EXPLAIN}</label></dd>
</dl>
<!-- ENDIF -->
<dl>
	<dt><label for="wolfsblvt_poll_required">{L_AP_QUESTION_REQUIRED}{L_COLON}</label></dt>
	<dd><label><input type="checkbox" id="wolfsblvt_poll_required" name="wolfsblvt_poll_required"{WOLFSBLVT_POLL_REQUIRED_CHECKED} /> {L_AP_PRIMARY_QUESTION_REQUIRED_EXPLAIN}</label></dd>
</dl>
<div class="ap-multi-question-editor" data-max-questions="20" data-question-label="{L_AP_QUESTION}" data-options-label="{L_POLL_OPTIONS}" data-required-label="{L_AP_QUESTION_REQUIRED}" data-remove-label="{L_REMOVE}">
	<h3>{L_AP_ADDITIONAL_QUESTIONS}</h3>
	<p>{L_AP_ADDITIONAL_QUESTIONS_EXPLAIN}</p>
	<div class="ap-question-list"></div>
	<button type="button" class="button2 ap-add-question">{L_AP_ADD_QUESTION}</button>
	<input type="hidden" name="ap_multi_questions" id="ap_multi_questions" value="{AP_MULTI_QUESTIONS_JSON}" />
</div>
<!-- INCLUDEJS js/multi_question_posting.js -->
<!-- ENDIF -->
