<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2026 Leinad4Mind -->
<phpunit bootstrap="tests/bootstrap.php"
		 colors="true"
		 cacheResult="false"
		 failOnRisky="true"
		 failOnWarning="true">
	<testsuites>
		<testsuite name="Advanced Polls">
			<directory suffix="_test.php">tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
